name = "Hwloc"
uuid = "0e44f5e4-bd66-52a0-8798-143a42290a1d"
authors = ["Erik Schnetter <schnetter@gmail.com>"]
version = "1.0.1"

[deps]
BinDeps = "9e28174c-4ba2-5203-b857-d8d62c4213ee"
Homebrew = "d9be37ee-ecc9-5288-90f1-b9ca67657a75"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
